@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root{
  /* Colores base */
  --color-primary: #87441d;
  --color-secondary: #d29756;
  --color-accent: #e9cea8;

  /* Colores neutros */
  --color-dark: #130c0c;
  --color: #341610;

  /* Texto */
  --color-text: #130c0c;
  --color-text-light: #e9cea8;
  --box-shadow:0.5rem 1.5rem rgba(0,0,0,.1);
  
}

*{
    font-family: 'Nunito', sans-serif ;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none !important;
    transition: all .2s linear;
}

*::selection{
    background: var(--color);
    color: #fff;
}

html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--color);
}

section{
    padding: 3rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
}

.heading h3{
    font-size: 4rem;
    color: var(--color);
    font-family: 'Space Grotesk';
}

.sub-heading{
    background: url(../images/heading-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 16rem;
    padding-bottom: 8rem;
}

.sub-heading h1{
    font-family: 'Space Grotesk' !important;
    font-weight: bold !important;
    color: #fff;
    font-size: 4rem;
    filter: drop-shadow(0 4px 10px rgba(0,0,0,1));
}



.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .1rem solid var(--color);
    color: var(--color);
    cursor: pointer;
}

.btn:hover{
    background: var(--color-primary);
    color: #fff;
    border: .1rem solid var(--color-primary);
}